
{% extends "template.html" %}

{% block content %}

<div class="col-lg-10 col-12 mx-auto">
    <div class="booking-form-wrap">
        <div class="row">
            <div class="col-lg-12 col-12 p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>RUC</th>
                            <th>Monto</th>
                            <th>Tipo RUC</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for factura in lista %}
                        <tr>
                            <td>{{ factura._id }}</td>
                            <td>{{ factura._usuario }}</td>
                            <td>{{ factura._ruc }}</td>
                            <td>{{ factura._monto }}</td>
                            <td>{{ factura._tiporuc }}</td>
                            
                            <td>
                                <a href="/facturas/editar/{{ factura.id }}" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}


