{% extends "template.html" %}

{% block content %}

<div class="col-lg-10 col-12 mx-auto">
    <div class="booking-form-wrap">
        <div class="row">
            <div class="col-lg-7 col-12 p-0">
                <form class="custom-form booking-form" method="post" action="/facturas/guardar" role="form">
                    <div class="text-center mb-4 pb-lg-2">
                        <em class="text-white">Universidad Nacional de Loja</em>
                        <h2 class="text-white">Formulario Guardar Facturas</h2>
                        <a href="/facturas" class="btn custom-btn custom-border-btn">Regresar</a>
                    </div>

                    <div class="booking-form-body">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" name="usuario" class="form-control" placeholder="Usuario" required>
                            </div>
                            <div class="col-lg-6 col-12">
                                <input type="text" name="ruc" class="form-control" placeholder="RUC" required>
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="number" step="0.01" name="monto" class="form-control" placeholder="Monto" required>
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="number" step="0.01" name="tiporuc" class="form-control" placeholder="Tipo RUC" required>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <button type="submit" id="guardar" class="btn custom-btn custom-border-btn">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-5 col-12 p-0">
                <div class="booking-form-image-wrap">
                    <img src="{{ url_for('static', filename='images/barman-with-fruits.jpg')}}" class="booking-form-image img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
